label {
	float: left !important;
	clear: left;
}
.control-box {
	float: left !important;
	clear: left;
}
.precise-date-picker {
	float: left !important;
	clear: left;
}
.deh-required {
	float: right;
}