#ctrl-wrap-smpAttr-2103 {
  width:50%;
}

#ctrl-wrap-smpAttr-36 {
  width:75%;
}

#ctrl-wrap-smpAttr-58 {
  width:75%;
}

#ctrl-wrap-smpAttr-8 {
  width:75%;
}

#ctrl-wrap-smpAttr-2104 {
  width:25%;
}
