div.container {
  border: solid black 1px;
}

.columns.two > .column:first-child {
  padding-top: 1em;
}

.two .column label {
  display: block;
  width: auto;
}

.two .column textarea {
  width: 100%;
}

.two .column .helpText {
  margin-left: 0;
}

.two .column .hierarchy-select {
  font-size: 9px;
}

.two .column .page-notice {
  margin-top: 0.5em;
}

.two .column p.inline-error {
  margin: 0;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

#recorderdetails {
  margin-bottom: 1em;
}

#sample:comment {
  width: 430px;
}

#controls label {
  margin: 0.5em 0 0 0;
  font-weight: bold;
}

#controls label.inline-control {
  margin: 0;
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

#controls .helpText, #controls .helpTextLeft {
  font-size: 10pt;
}

#wrap {
  background: transparent;
}

#ui-datepicker-div {
  display: none;
}