span.select-transect {
  margin: 0.25em;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 16px;
  padding: 0.25em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 11px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: 11px;
  padding: 0.5em 1.5em;
  line-height: 1.2em;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background-color: #378baa;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #378baa), color-stop(100%, #276b8a));
  background: -webkit-linear-gradient(#378baa, #F6ECB6);
  background: -moz-linear-gradient(#378baa, #F6ECB6);
  background: -o-linear-gradient(#378baa, #F6ECB6);
  background: -ms-linear-gradient(#378baa, #F6ECB6);
  background: linear-gradient(#378baa, #F6ECB6);
  border-color: #F6ECB6;
  color: black;
  text-shadow: #256482, 0 -1px 0;
  font-weight: bold;
}