#header > a, #header form, #sitename, .breadcrumb, h2 {
  display: none;
}

div#header {
  margin-bottom: -1em;
  height: auto;
  background: none;
}

div#nav {
  margin: 0;
}

#main {
  clear: left;
}

body div.container {
  margin: 0 1em;
  width: auto;
}

#tabs-wrapper {
  clear: left;
}

#verification-params label {
    width: auto;
    padding-right: 0.5em;
}
#verification-params input, #verification-params select {
    margin-right: 1em;
}

#verification-grid-th-occurrence_id {
  width: 40px;
}

#verification-grid-th-date {
  width: 80px;
}